{{define "top"}}
<!DOCTYPE html>
<html>
<head>
    <title>My Blogs</title>
</head>
<body>
<nav role="navigation">
    <div>
        <h1>Personal Blogs</h1>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="about">about</a></li>
            <li><a href="archive">all blogs</a></li>
        </ul>
    </div>
</nav>
<main>
{{end}}
